doctype html
html(ng-app="chinchin")
  head
    = tag 'meta', 'charset' => 'utf-8'
   
    title Travel
    = stylesheet_link_tag "front", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags

  body
   
    .main role="main"
      .container
        = yield
  
  = javascript_include_tag 'front', "data-turbolinks-track" => true
  = javascript_include_tag 'test', "data-turbolinks-track" => true

